# 开发环境 - 应用程序 `bash-publisher` 配置文件

# 应用程序服务器地址
appServerHost=("127.0.0.1" "localhost")

# 应用程序所在目录
appServerDir="/var/www/bash-publisher"

# 备份时，需要排除的文件或目录
appBackupExclude=("exclude.txt" "exclude")

# 应用程序仓库地址
appRepo="https://github.com/devzyj/bash-publisher.git"

# 应用程序初始化脚本（可以为空）
appInitScript="init.sh"


# 覆盖 `env.conf` 中的相关配置
# 支持的仓库类型（archive：表示归档文件路径）
#repoTypes=()

# 默认的仓库类型，`$repoTypes` 中的索引值
#repoTypeDefault=0

# 默认的仓库分支名称
#repoValueDefault=""

# SSH 超时时间（秒）
#sshTimeout=60

# SCP 超时时间（秒）
#scpTimeout=600